@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 1%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url(WhatsApp\ Image\ 2025-02-26\ at\ 16.12.26.jpeg);
    background-attachment: fixed;
}



img {
    border-radius: 3px;
}

.thumbnail-project {
    transition: all 0.2s ease-in;
}

.thumbnail-project:hover {
    transition: all 0.2s ease-in;
    transform: scale(90%);
}

.github {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    opacity: 80%;
}

.text-xlarge.c1-75 {
    transition: all 0.2s ease-in;
}

.text-xlarge.c1-75:hover {
    color: rgb(155, 130, 105);
    text-decoration-line: underline;
    transition: all 0.2s ease-in;
}

.devs {
    margin-left: 40px;
}

.gif {
    width: 60%;
    margin-right: 4px;
    margin-bottom: 2px;
    transition: all 0.2s ease-in;
}

.gif:hover {
    transform: scale(90%);
    transition: all 0.2s ease-in;
}

.nav__button {
    transition: all 0.2s ease-in;
}

.nav__button:hover {
    transform: scale(90%);
    transition: all 0.2s ease-in;
}

.w-inline-block {
    transition: all 0.2s ease-in;
}

.w-inline-block:hover {
    transform: scale(90%);
    transition: all 0.2s ease-in;
}

p {
    text-indent: 30px;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.subtitulo {
    font-size: 30px;
    color: black;
}

.text-xlarge {
    color: rgb(66, 66, 66);
}

@media(min-width: 768px) {
    .mobile-only {
        display: none
    }
}

@media(max-width: 768px) {
    .desktop-only {
        display: none
    }
}